@using MatBlazor;
@inherits Base.Draggable<Weaver.Data.Models.RadioList>;

<MatH5>@Component.Label</MatH5>
@if (Component.Layout == Weaver.Data.Models.CLayout.Horizontal)
{
    <MatRadioGroup TValue="string" Value="Component.MappedValue" ValueChanged="OnValueChanged" Items="Component.Buttons">
        <ItemTemplate>
            <MatRadioButton TValue="string" Value="@context">@context</MatRadioButton>
        </ItemTemplate>
    </MatRadioGroup>
}
else
{
    <MatRadioGroup TValue="string" Value="Component.MappedValue" ValueChanged="OnValueChanged" Items="Component.Buttons">
        <ItemTemplate>
            <div>
                <MatRadioButton TValue="string" Value="@context">@context</MatRadioButton>
            </div>
        </ItemTemplate>
    </MatRadioGroup>
}

@code {
    private Task OnValueChanged(string e)
    {
        Component.MappedValue = e;
        return ComponentChanged.InvokeAsync(Component);
    }
}